.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.overlay {
    border: 1px solid white;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}